{% extends 'base.html' %}

{% block title %} Dementia {% endblock %}


  {% block main %}
  <!-- ======= Top Bar ======= -->
  <div id="topbar" class="d-flex align-items-center fixed-top">
    <div class="container d-flex justify-content-between">
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-envelope"></i> <a href="mailto:skyview95.ii@gmail.com">teamone@gmail.com</a>
        <i class="bi bi-phone"></i> +2349038503700
      </div>
      <div class="d-none d-lg-flex social-links align-items-center">
        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
      </div>
    </div>
  </div>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top bg-info">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="index.html">TeamOne<br>HealthCare</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <!-- <li><a class="nav-link scrollto" href="#services">Services</a></li> -->
          <li><a class="nav-link scrollto" href="/department">Departments</a></li>
          <li class="dropdown"><a href="#"><span>Health information</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="/dementia">Dementia</a></li>
              <li><a href="/dermatitis">Dermatitis</a></li>
              <li><a href="/diabetes">Diabetes</a></li>
              <li><a href="#">Cancer</a></li>
              <li><a href="#">Carcinoid syndrome</a></li>
              <li><a href="#">Cataracts</a></li>
              <li><a href="#">Brain aneurysm</a></li>
              <li><a href="#">Ependymoma</a></li>
              <li><a href="#">Esophagitis</a></li>
            </ul>
          </li>
          <li class="dropdown"><a href="#"><span>Services</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="/doctors">Find a Doctor</a></li>
              <li class="dropdown-divider"></li>
              <li><a href="/appointment">Request an Appointment</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <!-- <a href="#appointment" class="appointment-btn scrollto"><span class="d-none d-md-inline">Make an</span> Appointment</a> -->

    </div>
  </header><!-- End Header -->

  <body class="bg-light">
  
    <div id="diseases" class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body m-4">
                        <h4 class="card-title text-center fw-bold">Cancer</h4>
                        <hr>
                        <p class="card-text pb-4">Cancer refers to any one of a large number of diseases characterized by the development of abnormal cells that divide uncontrollably and have the ability to infiltrate and destroy normal body tissue. Cancer often has the ability to spread throughout your body. <br>

                          Cancer is the second-leading cause of death in the world. But survival rates are improving for many types of cancer, thanks to improvements in cancer screening, treatment and prevention.
                          
                          Products & Services.</p>
                            <hr>
                        <h4>Symptoms</h4>
                        <p>Signs and symptoms caused by cancer will vary depending on what part of the body is affected.</p>
                        <p>Some general signs and symptoms associated with, but not specific to, cancer, include:</p>
                        
                        <p><ul>
                                <li>Lump or area of thickening that can be felt under the skin</li>
                                <li>Persistent indigestion or discomfort after eating</li>
                                <li>Skin changes, such as yellowing, darkening or redness of the skin, sores that won't heal, or changes to existing moles</li>
                                <li>Fatique</li>
                                <li>Changes in bowel or bladder habits</li>
                                <li>Difficulty swallowing</li>
                                <li>Persistent cough or trouble breathing</li>
                                <li>Persistent, unexplained muscle or joint pain</li>
                                <li>Unexplained bleeding or bruising</li>
                                <li>Hoarseness</li>
                            </ul>
                        </p>
                        
                        <h4>Causes</h4>
                        <p>Cancer is caused by changes (mutations) to the DNA within cells. The DNA inside a cell is packaged into a large number of individual genes, each of which contains a set of instructions telling the cell what functions to perform, as well as how to grow and divide. Errors in the instructions can cause the cell to stop its normal function and may allow a cell to become cancerous.</p>
                        <h4>Prevention</h4>
                        <p>Type 1 diabetes can't be prevented. However, the same healthy lifestyle choices that help treat prediabetes, type 2 diabetes and gestational diabetes can also help prevent them:</p>
                        <p><ul>
                            <li><b>Stop smoking.</b> If you smoke, quit. If you don't smoke, don't start. Smoking is linked to several types of cancer — not just lung cancer. Stopping now will reduce your risk of cancer in the future.</li><br>
                            <li><b>Avoid excessive sun exposure:</b> Harmful ultraviolet (UV) rays from the sun can increase your risk of skin cancer. Limit your sun exposure by staying in the shade, wearing protective clothing or applying sunscreen.</li><br>
                            <li><b>Eat a healthy diet:</b> Choose a diet rich in fruits and vegetables. Select whole grains and lean proteins. Limit your intake of processed meats.</li><br>
                            <li><b>Exercise most days of the week:</b>  Regular exercise is linked to a lower risk of cancer. Aim for at least 30 minutes of exercise most days of the week. If you haven't been exercising regularly, start out slowly and work your way up to 30 minutes or longer.</li><br>
                            <li><b>Maintain a healthy weight:</b> Being overweight or obese may increase your risk of cancer. Work to achieve and maintain a healthy weight through a combination of a healthy diet and regular exercise.</li><br>
                            <li><b>Schedule cancer screening exams:</b> Talk to your doctor about what types of cancer screening exams are best for you based on your risk factors.</li><br>
                            <li><b> Ask your doctor about immunizations:</b>  Certain viruses increase your risk of cancer. Immunizations may help prevent those viruses, including hepatitis B, which increases the risk of liver cancer, and human papillomavirus (HPV), which increases the risk of cervical cancer and other cancers. Ask your doctor whether immunization against these viruses is appropriate for you.</li>
                          </ul>
                        </p>
                        <!-- <a href="#" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#showDementia">Show more...</a> -->

                        <div><button class="btn btn-danger mt-4 btn-large"><a href="/appointment" class="text-white"><i class="bi bi-calendar-check"></i> Request an Appointment</a></button></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="collapse bg-light p-4" id="showDementia">
            This is the first div Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus quos blanditiis deserunt dolores! Facilis magnam nemo sit? Ad id ipsam omnis blanditiis sed! Asperiores at nostrum voluptatibus nulla. Autem, omnis.
        </div>
    </div>
    
      {% endblock %}

    