{% extends 'base.html' %}

{% block title %} Dementia {% endblock %}


  {% block main %}
  <!-- ======= Top Bar ======= -->
  <div id="topbar" class="d-flex align-items-center fixed-top">
    <div class="container d-flex justify-content-between">
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-envelope"></i> <a href="mailto:skyview95.ii@gmail.com">teamone@gmail.com</a>
        <i class="bi bi-phone"></i> +2349038503700
      </div>
      <div class="d-none d-lg-flex social-links align-items-center">
        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
      </div>
    </div>
  </div>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top bg-info">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="index.html">TeamOne<br>HealthCare</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto" href="/">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <!-- <li><a class="nav-link scrollto" href="#services">Services</a></li> -->
          <li><a class="nav-link scrollto" href="/department">Departments</a></li>
          <li class="dropdown"><a href="#"><span>Health information</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Dementia</a></li>
              <li><a href="/dermatitis">Dermatitis</a></li>
              <li><a href="/diabetes">Diabetes</a></li>
              <li><a href="/cancer">Cancer</a></li>
              <li><a href="#">Carcinoid syndrome</a></li>
              <li><a href="#">Cataracts</a></li>
              <li><a href="#">Brain aneurysm</a></li>
              <li><a href="#">Ependymoma</a></li>
              <li><a href="#">Esophagitis</a></li>
            </ul>
          </li>
          <li class="dropdown"><a href="#"><span>Services</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="/doctors">Find a Doctor</a></li>
              <li class="dropdown-divider"></li>
              <li><a href="/appointment">Request an Appointment</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <!-- <a href="#appointment" class="appointment-btn scrollto"><span class="d-none d-md-inline">Make an</span> Appointment</a> -->

    </div>
  </header><!-- End Header -->

  <body class="bg-light">
  
    <div id="diseases" class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body m-4">
                        <h4 class="card-title text-center fw-bold">Dementia</h4>
                        <hr>
                        <p class="card-text pb-4">Dementia is a term used to describe a group of symptoms affecting memory, thinking and social abilities severely enough to interfere with your daily life. It isn't a specific disease, but several diseases can cause dementia. <br><br>

                            Though dementia generally involves memory loss, memory loss has different causes. Having memory loss alone doesn't mean you have dementia, although it's often one of the early signs of the condition.
                            
                            Alzheimer's disease is the most common cause of a progressive dementia in older adults, but there are a number of other causes of dementia. Depending on the cause, some dementia symptoms might be reversible.</p>
                            <hr>
                        <h4>Symptoms</h4>
                        <p>Dementia symptoms vary depending on the cause, but common signs and symptoms include:</p>
                        <h4>Cognitive Changes</h4>
                        <p><ul>
                                <li>Memory loss, which is usually noticed by someone else</li>
                                <li>Difficulty communicating or finding words</li>
                                <li>Difficulty with coordination and motor functions</li>
                                <li>Difficulty handling complex tasks</li>
                                <li>Difficulty with visual and spatial abilities, such as getting lost while driving</li>
                                <li>Difficulty reasoning or problem-solving</li>
                                <li>Difficulty with planning and organizing</li>
                                <li>Confusion and disorientation</li>
                            </ul>
                        </p>
                        <h4>Psychological Changes</h4>
                        <p><ul>
                                <li>Inappropriate behavior</li>
                                <li>Depression</li>
                                <li>Personality Changes</li>
                                <li>Anxiety</li>
                                <li>Paranoia</li>
                                <li>Agitation</li>
                                <li>Hallucinations</li>
                            </ul>
                        </p>
                        <h4>Causes</h4>
                        <p>Dementia is caused by damage to or loss of nerve cells and their connections in the brain. Depending on the area of the brain that's damaged, dementia can affect people differently and cause different symptoms.

                        Dementias are often grouped by what they have in common, such as the protein or proteins deposited in the brain or the part of the brain that's affected. Some diseases look like dementias, such as those caused by a reaction to medications or vitamin deficiencies, and they might improve with treatment.</p>
                        <h4>Prevention</h4>
                        <p>There's no sure way to prevent dementia, but there are steps you can take that might help. More research is needed, but it might be beneficial to do the following:</p>
                        <p><ul>
                            <li><b>Keep your mind active:</b> Mentally stimulating activities, such as reading, solving puzzles and playing word games, and memory training might delay the onset of dementia and decrease its effects.</li><br>
                            <li><b>Be physically and socially active:</b> Physical activity and social interaction might delay the onset of dementia and reduce its symptoms. Aim for 150 minutes of exercise a week.</li><br>
                            <li><b>Quit smoking:</b> Some studies have shown that smoking in middle age and beyond might increase your risk of dementia and blood vessel conditions. Quitting smoking might reduce your risk and will improve your health.</li><br>
                            <li><b>Get enough vitamins:</b> Some research suggests that people with low levels of vitamin D in their blood are more likely to develop Alzheimer's disease and other forms of dementia. You can get vitamin D through certain foods, supplements and sun exposure.</li><br>
                            <li><b>Manage cardiovascular risk factors:</b> Treat high blood pressure, high cholesterol and diabetes. Lose weight if you're overweight.

                                High blood pressure might lead to a higher risk of some types of dementia. More research is needed to determine whether treating high blood pressure may reduce the risk of dementia.</li><br>
                            <li><b>Maintain a healthy diet:</b> A diet such as the Mediterranean diet — rich in fruits, vegetables, whole grains and omega-3 fatty acids, which are commonly found in certain fish and nuts — might promote health and lower your risk of developing dementia. This type of diet also improves cardiovascular health, which may help lower dementia risk.</li><br>
                            <li>Get good-quality sleep. Practice good sleep hygiene, and talk to your doctor if you snore loudly or have periods where you stop breathing or gasp during sleep.</li>
                        </ul>
                    </p>
                        <!-- <a href="#" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#showDementia">Show more...</a> -->

                        <div><button class="btn btn-danger mt-4 btn-large"><a href="/appointment" class="text-white"><i class="bi bi-calendar-check"></i> Request an Appointment</a></button></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="collapse bg-light p-4" id="showDementia">
            This is the first div Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus quos blanditiis deserunt dolores! Facilis magnam nemo sit? Ad id ipsam omnis blanditiis sed! Asperiores at nostrum voluptatibus nulla. Autem, omnis.
        </div>
    </div>
    
      {% endblock %}

    