{% extends 'base.html' %}

{% block title %} Dementia {% endblock %}


  {% block main %}
  <!-- ======= Top Bar ======= -->
  <div id="topbar" class="d-flex align-items-center fixed-top">
    <div class="container d-flex justify-content-between">
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-envelope"></i> <a href="mailto:skyview95.ii@gmail.com">teamone@gmail.com</a>
        <i class="bi bi-phone"></i> +2349038503700
      </div>
      <div class="d-none d-lg-flex social-links align-items-center">
        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
      </div>
    </div>
  </div>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top bg-info">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="index.html">TeamOne<br>HealthCare</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <!-- <li><a class="nav-link scrollto" href="#services">Services</a></li> -->
          <li><a class="nav-link scrollto" href="/department">Departments</a></li>
          <li class="dropdown"><a href="#"><span>Health information</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="/dementia">Dementia</a></li>
              <li><a href="/dermatitis">Dermatitis</a></li>
              <li><a href="#">Diabetes</a></li>
              <li><a href="/cancer">Cancer</a></li>
              <li><a href="#">Carcinoid syndrome</a></li>
              <li><a href="#">Cataracts</a></li>
              <li><a href="#">Brain aneurysm</a></li>
              <li><a href="#">Ependymoma</a></li>
              <li><a href="#">Esophagitis</a></li>
            </ul>
          </li>
          <li class="dropdown"><a href="#"><span>Services</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="/doctors">Find a Doctor</a></li>
              <li class="dropdown-divider"></li>
              <li><a href="/appointment">Request an Appointment</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <!-- <a href="#appointment" class="appointment-btn scrollto"><span class="d-none d-md-inline">Make an</span> Appointment</a> -->

    </div>
  </header><!-- End Header -->

  <body class="bg-light">
  
    <div id="diseases" class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body m-4">
                        <h4 class="card-title text-center fw-bold">Diabetes</h4>
                        <hr>
                        <p class="card-text pb-4">Diabetes mellitus refers to a group of diseases that affect how your body uses blood sugar (glucose). Glucose is vital to your health because it's an important source of energy for the cells that make up your muscles and tissues. It's also your brain's main source of fuel.

                          The underlying cause of diabetes varies by type. But, no matter what type of diabetes you have, it can lead to excess sugar in your blood. Too much sugar in your blood can lead to serious health problems.
                          
                          Chronic diabetes conditions include type 1 diabetes and type 2 diabetes. Potentially reversible diabetes conditions include prediabetes and gestational diabetes. Prediabetes occurs when your blood sugar levels are higher than normal, but not high enough to be classified as diabetes. And prediabetes is often the precursor of diabetes unless appropriate measures are taken to prevent progression. Gestational diabetes occurs during pregnancy but may resolve after the baby is delivered.</p>
                            <hr>
                        <h4>Symptoms</h4>
                        <p>Diabetes symptoms vary depending on how much your blood sugar is elevated. Some people, especially those with prediabetes or type 2 diabetes, may sometimes not experience symptoms. In type 1 diabetes, symptoms tend to come on quickly and be more severe.</p>
                        <p>Some of the signs and symptoms of type 1 diabetes and type 2 diabetes are:</p>
                        <p><ul>
                                <li>Increased thirst</li>
                                <li>Frequent urination</li>
                                <li>Presence of ketones in the urine (ketones are a byproduct of the breakdown of muscle and fat that happens when there's not enough available insulin)</li>
                                <li>Extreme hunger</li>
                                <li>Unexplained weight loss</li>
                                <li>Fatigue</li>
                                <li>Blurred vision</li>
                                <li>Irritability</li>
                                <li>Slow-healing sores</li>
                                <li>Frequent infections, such as gums or skin infections and vaginal infections</li>
                            </ul>
                        </p>
                        
                        <h4>Causes of type 1 diabetes</h4>
                        <p>The exact cause of type 1 diabetes is unknown. What is known is that your immune system — which normally fights harmful bacteria or viruses — attacks and destroys your insulin-producing cells in the pancreas. This leaves you with little or no insulin. Instead of being transported into your cells, sugar builds up in your bloodstream.

                          Type 1 is thought to be caused by a combination of genetic susceptibility and environmental factors, though exactly what those factors are is still unclear. Weight is not believed to be a factor in type 1 diabetes.</p>
                          <h4>Causes of prediabetes and type 2 diabetes</h4>
                          <p>In prediabetes — which can lead to type 2 diabetes — and in type 2 diabetes, your cells become resistant to the action of insulin, and your pancreas is unable to make enough insulin to overcome this resistance. Instead of moving into your cells where it's needed for energy, sugar builds up in your bloodstream.

                            Exactly why this happens is uncertain, although it's believed that genetic and environmental factors play a role in the development of type 2 diabetes too. Being overweight is strongly linked to the development of type 2 diabetes, but not everyone with type 2 is overweight.</p>
                          <h4>Causes of gestational diabetes</h4>
                          <p>During pregnancy, the placenta produces hormones to sustain your pregnancy. These hormones make your cells more resistant to insulin.

                            Normally, your pancreas responds by producing enough extra insulin to overcome this resistance. But sometimes your pancreas can't keep up. When this happens, too little glucose gets into your cells and too much stays in your blood, resulting in gestational diabetes.</p>
                          <h4>Prevention</h4>
                        <p>There's no sure way to prevent dementia, but there are steps you can take that might help. More research is needed, but it might be beneficial to do the following:</p>
                        <p><ul>
                            <li><b>Eat healthy food:</b> Choose foods lower in fat and calories and higher in fiber. Focus on fruits, vegetables and whole grains. Strive for variety to prevent boredom.</li><br>
                            <li><b>Get more physical activity:</b> Aim for about 30 minutes of moderate aerobic activity on most days of the week, or at least 150 minutes of moderate aerobic activity a week.</li><br>
                            <li><b>Lose excess pounds:</b>  If you're overweight, losing even 7% of your body weight — for example, 14 pounds (6.4 kilograms) if you weigh 200 pounds (90.7 kilograms) — can reduce the risk of diabetes.</li><br>
                            <p><b>Note:</b> Don't try to lose weight during pregnancy, however. Talk to your doctor about how much weight is healthy for you to gain during pregnancy.

                              To keep your weight in a healthy range, focus on permanent changes to your eating and exercise habits. Motivate yourself by remembering the benefits of losing weight, such as a healthier heart, more energy and improved self-esteem.</p>
                            <li><b>Get enough vitamins:</b> Some research suggests that people with low levels of vitamin D in their blood are more likely to develop Alzheimer's disease and other forms of dementia. You can get vitamin D through certain foods, supplements and sun exposure.</li><br>
                            <li><b>Manage cardiovascular risk factors:</b> Treat high blood pressure, high cholesterol and diabetes. Lose weight if you're overweight.

                                High blood pressure might lead to a higher risk of some types of dementia. More research is needed to determine whether treating high blood pressure may reduce the risk of dementia.</li><br>
                            <li><b>Maintain a healthy diet:</b> A diet such as the Mediterranean diet — rich in fruits, vegetables, whole grains and omega-3 fatty acids, which are commonly found in certain fish and nuts — might promote health and lower your risk of developing dementia. This type of diet also improves cardiovascular health, which may help lower dementia risk.</li><br>
                            <li>Get good-quality sleep. Practice good sleep hygiene, and talk to your doctor if you snore loudly or have periods where you stop breathing or gasp during sleep.</li>
                        </ul>
                    </p>
                    <p>Sometimes medication is an option as well. Oral diabetes drugs such as metformin (Glumetza, Fortamet, others) may reduce the risk of type 2 diabetes — but healthy lifestyle choices remain essential. Have your blood sugar checked at least once a year to check that you haven't developed type 2 diabetes.</p>
                        <!-- <a href="#" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#showDementia">Show more...</a> -->

                        <div><button class="btn btn-danger mt-4 btn-large"><a href="/appointment" class="text-white"><i class="bi bi-calendar-check"></i> Request an Appointment</a></button></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="collapse bg-light p-4" id="showDementia">
            This is the first div Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus quos blanditiis deserunt dolores! Facilis magnam nemo sit? Ad id ipsam omnis blanditiis sed! Asperiores at nostrum voluptatibus nulla. Autem, omnis.
        </div>
    </div>
    
      {% endblock %}

    